<h2 class="mx-3">Edit your timestamps</h2>
<form class="d-flex flex-column" [formGroup]="settingsForm">
  <mat-form-field class="mx-3 mt-3" appearance="fill">
    <mat-label>Enter Pomodoro timestamp</mat-label>
    <input type="number" matInput formControlName="editPomodoro" [(ngModel)]="data[0].timestamp">
  </mat-form-field>

  <mat-form-field class="mx-3 mt-3" appearance="fill">
    <mat-label>Enter Short Break timestamp</mat-label>
    <input type="number" matInput formControlName="editShortBreak" [(ngModel)]="data[1].timestamp">
  </mat-form-field>

  <mat-form-field class="mx-3 mt-3" appearance="fill">
    <mat-label>Enter Long Break timestamp</mat-label>
    <input type="number" matInput formControlName="editLongBreak" [(ngModel)]="data[2].timestamp">
  </mat-form-field>

  <div class="btn-container d-flex justify-content-end py-2 mx-3">
    <button mat-flat-button class="cancelBtn" type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="saveBtn mx-3" type="submit" [mat-dialog-close]="data"
      [disabled]="settingsForm.invalid">Save</button>
  </div>

</form>
