<mat-toolbar color="primary" class="d-flex justify-content-center">
  <div class="d-flex justify-content-between w-50 mt-1">
    <p class="fs-4 mt-1">
      My Pomodoro
      <mat-icon aria-hidden="false" aria-label="Example home icon">timer</mat-icon>
    </p>

    <button mat-button class="example-icon fs-6 mb-1" aria-label="Example icon-button with share icon"
      (click)="openSettings()">
      <mat-icon class="mb-1">settings</mat-icon>
      Settings
    </button>
  </div>
</mat-toolbar>
